src/main/mule/sources/anypoint/platform/apis/anypointMQ_stats.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="anypointMQ_statsFlow" doc:id="a0b3e368-83c0-42c8-8596-a5b02002f727" >
		<flow-ref doc:name="Get Token Flow Reference" doc:id="ea48067b-a4bd-4319-87c6-27ebb7d891aa" name="api-call-coreservices-login-flow" target="token" targetValue="#[payload.access_token]" />
		<flow-ref doc:name="CoreServices - Get Organizations" doc:id="d1fefdee-9dee-4f0e-bec2-bd140aee258c" name="api-call-coreservices-organizations-flow" />
		<ee:transform doc:name="Build Organizations including master org" doc:id="4ce6b0c6-1781-4764-be74-0346dc40d366" >
			<ee:message >
				<ee:set-payload resource="dw/aggregation/build-orgs-aggregation.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Data" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
				<ee:set-variable variableName="startDate" ><![CDATA[%dw 2.0
output application/json
var startdate = vars.startDate as Date {format: "d MMM yyyy"} as String {format: "yyyy-MM-dd"}
var reducedMonth = startdate as Date - |P1M|
---
if(vars.period != "1day") reducedMonth as Date {format: "yyyy-MM-dd"} as String {format: "d MMM yyyy"} else vars.startDate
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="81c73e0e-a483-4291-ac32-26a810697bb1" collection="#[%dw 2.0&#10;output application/json&#10;var data = Mule::p('secure::anypoint.platform.X-ANYPNT-BUS-ID') &#10;var idsToFilter = data splitBy &quot;'&quot; filter ((item) -&gt; sizeOf(item) &gt;= 5)&#10;---&#10;payload filter ((item) -&gt; idsToFilter contains item.id)]" >
			<ee:transform doc:name="Set Org Id, Name and Entitlements Vars" doc:id="00e8ede8-d4bd-4de2-bc94-0ef7b7f78c05" >
				<ee:message />
				<ee:variables >
					<ee:set-variable resource="dw/aggregation/set-org-id-var.dwl" variableName="orgId" />
					<ee:set-variable resource="dw/aggregation/set-org-name-var.dwl" variableName="orgName" />
					<ee:set-variable resource="dw/aggregation/set-entitlements-var.dwl" variableName="entitlements" />
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Log - Aggregate metrics" doc:id="eb1602b0-d7af-4eda-8407-5f8e938002d1" message="Aggregating metrics from the OrgId: #[vars.orgId]" />
			<flow-ref doc:name="aggregator-platform-metrics-environmentsFlow" doc:id="4dc7e4a1-931f-4e15-830b-51448aef49c6" name="aggregator-platform-metrics-environmentsFlow" />
			<ee:transform doc:name="Transform Message" doc:id="3d056348-226b-4239-a568-a3d1a5ded86b">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="environmentsId"><![CDATA[%dw 2.0
output application/json
---
vars.environments map ((item, index) -> item.id)]]></ee:set-variable>
				<ee:set-variable variableName="finalStats"><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<foreach doc:name="For Each" doc:id="e01f045e-be51-4f74-a774-ada1b8f547c3" collection="#[vars.environmentsId]" >
				<ee:transform doc:name="Transform Message" doc:id="b436e3a9-4ee0-4a8f-8e86-08f4428fcca2" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="envId" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="envName" doc:id="54d5b128-de3b-404b-ab8f-3d330ab8c830" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="envName" ><![CDATA[%dw 2.0
output application/json
---
vars.environments map ((item, index) -> if(item.id == vars.envId) item else {} ) filter ((item, index) -> item !={})  map ((item, index) -> item.name) joinBy ""]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="1e6e3fc5-6838-4e44-a2f6-8b93af9f6a8d" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="eday" ><![CDATA[%dw 2.0
output application/json
---
(((vars.endDate as DateTime) as String {format: "d MMM yyyy"}) splitBy  " ")[0]]]></ee:set-variable>
						<ee:set-variable variableName="emonth" ><![CDATA[%dw 2.0
output application/json
---
(((vars.endDate as DateTime) as String {format: "d MMM yyyy"}) splitBy  " ")[1]]]></ee:set-variable>
						<ee:set-variable variableName="eyear" ><![CDATA[%dw 2.0
output application/json
---
(((vars.endDate as DateTime) as String {format: "d MMM yyyy"}) splitBy  " ")[2]]]></ee:set-variable>
						<ee:set-variable variableName="year" ><![CDATA[%dw 2.0
output application/json
---
(vars.startDate splitBy  " ")[2]]]></ee:set-variable>
						<ee:set-variable variableName="month" ><![CDATA[%dw 2.0
output application/json
---
(vars.startDate splitBy  " ")[1]]]></ee:set-variable>
						<ee:set-variable variableName="day" ><![CDATA[%dw 2.0
output application/json
---
(vars.startDate splitBy  " ")[0]]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="wait" doc:id="73f57f4c-c6ca-4135-a581-91317c350355" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/json
var mqWait = p('secure::anypoint.platform.apis.anypointMQ.mqWait')
---
payload wait mqWait]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="GET" doc:name="anypointMQ_stats" doc:id="5b40d619-2078-4986-a193-efc8b67a4d29" config-ref="HTTP_Request_anypointMQ_stats" path='#["/"++"organizations"++"/"++ vars.orgId ++"/"++"environments"++"/"++ vars.envId ++"?startDate=Sat%2C%20"++ vars.day ++"%20"++ vars.month ++"%20"++ vars.year ++"%2008%3A49%3A37%20GMT&amp;endDate=Sat%2C%20"++ vars.eday ++"%20"++ vars.emonth ++"%20"++ vars.eyear ++"%2008%3A49%3A37%20GMT&amp;period=" ++ vars.period]' target="mqstats" targetValue="#[if(sizeOf(payload) &gt; 1) payload[1 to -1] else payload]">
					<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
				</http:request>
				<ee:transform doc:name="finalStats" doc:id="6b01aad6-14b5-4649-b5db-b53b4e0e6023" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="finalStats" ><![CDATA[%dw 2.0
output application/json
---
vars.finalStats + {
	"envId": vars.envId,
	"envName": vars.envName,
	"anypointMQ-stats": vars.mqstats map ((item, index) -> item) default []
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="ab0819a8-1211-4d43-bc2b-3e0bac45dbb9">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="envName"><![CDATA[%dw 2.0
output application/json
---
null]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</foreach>
			<ee:transform doc:name="Data" doc:id="1e9ace3a-09e6-4008-9ab5-59949fb68cbd" >
				<ee:message />
				<ee:variables >
					<ee:set-variable variableName="Data" ><![CDATA[%dw 2.0
output application/json
---
vars.Data + {
	"orgId": vars.orgId,
	"orgName": vars.orgName,
	"env-anypointMQ-stats": vars.finalStats
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
	</flow>
</mule>
