src/main/mule/sources/anypoint/platform/apis/api-call-coreservices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">


	<flow name="api-call-coreservices-login-flow" doc:id="c336bb42-e18a-4f7f-9c10-d210024c443c">
		<logger level="DEBUG" doc:name="Logger" doc:id="fde73538-32e8-4c37-bc8e-a343e50f0522" message="Calling Coreservices - Login" />
		<choice doc:name="Choice" doc:id="917c49c1-a155-41e6-abfe-8e320fc7b501" >
			<when expression="#[vars.authMode == 'connected-app-credentials']">
				<ee:transform doc:name="Build Connected App Credentials Login Request" doc:id="5eaea0ca-f420-4d6f-8b36-7a7001ab19b8">
			<ee:message>
						<ee:set-payload resource="dw/anypoint/coreservices-build-connected-app-login-request.dwl" />
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Build Platform Credentials Login Request" doc:id="417f5d0e-fc59-4df9-a9d0-af43957e772f" >
					<ee:message >
						<ee:set-payload resource="dw/anypoint/coreservices-build-platform-login-request.dwl" />
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<http:request method="POST" doc:name="Post Login Request" doc:id="560a71f8-55b6-402b-b0e6-cfd411340797" config-ref="HTTP_Request_configuration"
			path="#[if (vars.authMode == 'connected-app-credentials')
  Mule::p('anypoint.platform.apis.coreservices.token.path')
else
  Mule::p('anypoint.platform.apis.coreservices.login.path')]" >
		</http:request>
			
		<logger level="DEBUG" doc:name="Logger" doc:id="94b6e2e7-72f9-4957-8c55-103ad0fe8765" message='#["Coreservices - Login, Response Status Code:" ++ attributes.statusCode]' />
	</flow>

	<flow name="api-call-coreservices-login-cache-flow" doc:id="48481958-9a25-435b-a50d-32ccc993a661">
		<ee:cache doc:name="Cache" doc:id="386abad4-1802-4ebd-868d-4cce5adc627a" cachingStrategy-ref="Caching_Strategy">
			<flow-ref doc:name="Login Flow Reference" doc:id="3f2ec75e-c320-4855-8725-228e401e595c" name="api-call-coreservices-login-flow" />
		</ee:cache>
	</flow>
	<flow name="api-call-coreservices-environments-flow" doc:id="cb45e4dc-7fd3-476d-aff3-7c0a30556088" maxConcurrency="${anypoint.platform.apis.coreservices.maxConcurrency}">
		<ee:transform doc:name="Transform Message" doc:id="29dbb7d1-9dd5-4eb2-9577-4306dd52afba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="arr" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="DEBUG" doc:name="Logger" doc:id="c04d063d-9f26-41c8-9f2c-efd64bc5a457" message="Calling Coreservices - Environments" />
		<http:request method="GET" doc:name="Get Environments Request" doc:id="ea3a4010-08c1-44e9-b9d4-a82201dbb162" path="${anypoint.platform.apis.coreservices.environments.path}" config-ref="HTTP_Request_configuration">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"orgId" : vars.orgId
}]]]></http:uri-params>
		</http:request>
		<logger level="DEBUG" doc:name="Logger" doc:id="44625425-13b2-42b6-9886-1bbbe2de07fb" message='#["Coreservices - Environments, Response Status Code:" ++ attributes.statusCode]' />
		<ee:transform doc:name="Transform Message" doc:id="2a9dbdf0-20f2-4e7a-a43c-cb311cf3158e">
			<ee:message>
				<ee:set-payload resource="dw/anypoint/coreservices-filter-environments.dwl" />
			</ee:message>
		</ee:transform>
	</flow>
	
	<flow name="api-call-coreservices-organizations-flow" doc:id="cef7e93b-b2dc-4ff3-8cf4-582ead99cfcc" maxConcurrency="${anypoint.platform.apis.coreservices.maxConcurrency}">
		<logger level="DEBUG" doc:name="Logger" doc:id="224fabbf-19d2-4f85-894f-85e95170afe9" message="Calling Coreservices - Hierarchy" />
		<http:request method="GET" doc:name="Get Hierarchy Request" doc:id="dc7dbe11-676b-4de2-8622-21a22e01f67a" config-ref="HTTP_Request_configuration"
			path="${anypoint.platform.apis.coreservices.hierarchy.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"orgId" : vars.masterOrgId
}]]]></http:uri-params>
		</http:request>
		<logger level="DEBUG" doc:name="Logger" doc:id="30b6eab1-e157-488d-a99e-c530e720923f" message='#["Coreservices - Hierarchy, Response Status Code:" ++ attributes.statusCode]' />
	</flow>
</mule>
