src/main/mule/sources/anypoint/platform/apis/objectStore_usage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="environment_objectStore_usage" doc:id="67b4bfc7-3e41-41dc-8664-8f61561b6b5a" >
		<flow-ref doc:name="Get Token Flow Reference" doc:id="e380dfd7-24ef-4d62-a326-37f7723566cb" name="api-call-coreservices-login-flow" target="token" targetValue="#[payload.access_token]" />
		<flow-ref doc:name="CoreServices - Get Organizations" doc:id="4b520004-198a-4670-a666-74a4eb051452" name="api-call-coreservices-organizations-flow" />
		<ee:transform doc:name="Build Organizations including master org" doc:id="0f90f67b-d701-429d-8c0c-ad82ea49cc37" >
			<ee:message >
				<ee:set-payload resource="dw/aggregation/build-orgs-aggregation.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Data" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
				<ee:set-variable variableName="startDate" ><![CDATA[%dw 2.0
output application/json
var adjustedDate = (vars.startDate as Date) - |P1M|
---
adjustedDate as String {format: "yyyy-MM-dd"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="1dd4e623-ee83-4017-84da-60bd9681985b" collection="#[payload]" >
			<ee:transform doc:name="Set Org Id, Name and Entitlements Vars" doc:id="2c18c8fa-028d-40ee-888f-1d588a69d2d8" >
				<ee:message />
				<ee:variables >
					<ee:set-variable resource="dw/aggregation/set-org-id-var.dwl" variableName="orgId" />
					<ee:set-variable resource="dw/aggregation/set-org-name-var.dwl" variableName="orgName" />
					<ee:set-variable resource="dw/aggregation/set-entitlements-var.dwl" variableName="entitlements" />
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Log - Aggregate metrics" doc:id="a1e2c4b5-1160-42d0-95a1-c644a03c0435" message="Aggregating metrics from the OrgId: #[vars.orgId]" />
			<flow-ref doc:name="aggregator-platform-metrics-environmentsFlow" doc:id="b56a5a20-8afb-4b81-81b8-43bd4c92aa54" name="aggregator-platform-metrics-environmentsFlow" />
			<ee:transform doc:name="Transform Message" doc:id="cc2fb95d-170e-4aa7-b2ac-c819c574164b" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="environmentsId" ><![CDATA[%dw 2.0
output application/json
---
vars.environments map ((item, index) -> item.id)]]></ee:set-variable>
					<ee:set-variable variableName="finalStats" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<foreach doc:name="For Each" doc:id="0a745ef1-7ed3-4f08-8539-d9bfab287735" collection="#[vars.environmentsId]">
				<ee:transform doc:name="Transform Message" doc:id="f2d0acd4-8a0e-4e49-a36f-0653affe7a37" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="envId" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="envName" doc:id="a851cdf1-0da9-4be8-a924-183d40dfe939">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="envName"><![CDATA[%dw 2.0
output application/json
---
vars.environments map ((item, index) -> if(item.id == vars.envId) item else {} ) filter ((item, index) -> item !={})  map ((item, index) -> item.name) joinBy ""]]></ee:set-variable>
						<ee:set-variable variableName="statsData" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<choice doc:name="Choice" doc:id="67e0ca86-f135-476e-8ac6-84a21f9bf25c" >
					<when expression='#[vars.envName == "PROD" or vars.envName == "SIT"]'>
						<ee:transform doc:name="path" doc:id="6b419f3f-ad69-4513-a5c8-c51435c25c6f" >
							<ee:message >
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/json
---
"/"++"organizations"++"/"++ vars.orgId ++"/"++"environments"++"/"++ vars.envId ++"/"++"regions/us-east-1/stores?startDate="++ vars.startDate ++"T22%3A41%3A38.000Z&endDate="++ vars.endDate ++"T22%3A41%3A38.000Z&period=1month"]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<http:request method="GET" doc:name="object store id for est1" doc:id="06e0e87e-d0ce-43e8-8cf3-344cf6742d11" config-ref="HTTP_Request_objectStore_stats" path="#[vars.path]">
							<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
						</http:request>
					</when>
					<otherwise >
						<ee:transform doc:name="path" doc:id="d463570e-340d-4d5e-a995-08e7e17eb09c">
							<ee:message />
							<ee:variables>
								<ee:set-variable variableName="path"><![CDATA[%dw 2.0
output application/json
---
"/"++"organizations"++"/"++ vars.orgId ++"/"++"environments"++"/"++ vars.envId ++"/"++"regions/us-east-2/stores?startDate="++ vars.startDate ++"T22%3A41%3A38.000Z&endDate="++ vars.endDate ++"T22%3A41%3A38.000Z&period=1month"]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<http:request method="GET" doc:name="object store id for est2" doc:id="dfecf969-ecd2-4a5a-8e10-0c598821f5af" config-ref="HTTP_Request_objectStore_stats" path="#[vars.path]" >
							<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
						</http:request>
					</otherwise>
				</choice>
				<choice doc:name="Choice" doc:id="1e356381-d3d5-47d2-827a-d0848167880d" >
					<when expression="#[payload != []]">
						<http:request method="GET" doc:name="deployed applications" doc:id="3fd49315-c4fe-419e-971b-f4da4770d21a" config-ref="deployments" path='#["/"++"organizations"++"/"++ vars.orgId ++"/"++"environments"++"/"++ vars.envId ++"/deployments/"]' target="deployed">
								<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
							</http:request>
						<foreach doc:name="For Each" doc:id="c5c471eb-880b-49b6-8912-0bca10d28c65" collection="#[payload]">
							<ee:transform doc:name="Transform Message" doc:id="47e6f794-a9e5-4040-9e5e-2adf1bb345d4">
								<ee:message>
								</ee:message>
								<ee:variables>
									<ee:set-variable variableName="storeId"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
									<ee:set-variable variableName="appId"><![CDATA[%dw 2.0
output application/json
---
(payload splitBy  "_")[1]]]></ee:set-variable>
								</ee:variables>
							</ee:transform>
							<choice doc:name="Choice" doc:id="64794c55-54ce-4389-9fa1-a6d70cf2c099">
								<when expression='#[vars.envName == "PROD" or vars.envName == "SIT"]'>
									<ee:transform doc:name="path" doc:id="ba34be69-2681-4d5b-bff8-670fd299b70a">
								<ee:message>
								</ee:message>
								<ee:variables>
									<ee:set-variable variableName="path"><![CDATA[%dw 2.0
output application/json
---
"/"++"organizations"++"/"++ vars.orgId ++"/"++"environments"++"/"++ vars.envId ++"/"++"regions/us-east-1/stores/"++ vars.storeId ++ "?startDate="++ vars.startDate ++"T22%3A41%3A38.000Z&endDate="++ vars.endDate ++"T22%3A41%3A38.000Z&period=1month"]]></ee:set-variable>
								</ee:variables>
							</ee:transform>
									<http:request method="GET" doc:name="objectstore stats for est1" doc:id="86b3b565-1abd-44cc-b584-cb0b1f3df298" config-ref="HTTP_Request_objectStore_stats" path="#[vars.path]" target="objectStoreStats" targetValue="#[if(sizeOf(payload) &gt; 1) payload[1 to -1] else payload]">
										<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
									</http:request>
								</when>
								<otherwise>
									<ee:transform doc:name="path" doc:id="5157a7bf-0d3c-404f-a497-96556a02861f">
										<ee:message />
										<ee:variables>
											<ee:set-variable variableName="path"><![CDATA[%dw 2.0
output application/json
---
"/"++"organizations"++"/"++ vars.orgId ++"/"++"environments"++"/"++ vars.envId ++"/"++"regions/us-east-2/stores/"++ vars.storeId ++ "?startDate="++ vars.startDate ++"T22%3A41%3A38.000Z&endDate="++ vars.endDate ++"T22%3A41%3A38.000Z&period=1month"]]></ee:set-variable>
										</ee:variables>
									</ee:transform>
									<http:request method="GET" doc:name="objectstore stats for est2" doc:id="0e91476f-f9ab-4529-990c-67f344761792" config-ref="HTTP_Request_objectStore_stats" path="#[vars.path]" target="objectStoreStats" targetValue="#[if(sizeOf(payload) &gt; 1) payload[1 to -1] else payload]">
										<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
									</http:request>
								</otherwise>
							</choice>
							<ee:transform doc:name="applicationName" doc:id="79e6a036-428b-4e1a-bdc5-a758c58c6bc9">
								<ee:message>
								</ee:message>
								<ee:variables>
									<ee:set-variable variableName="applicationName"><![CDATA[%dw 2.0
output application/json
---
(vars.deployed.items map ((item, index) -> if(item.id == vars.appId or item.name == vars.appId) item else {})) filter ((item, index) -> item !={}) map ((item, index) -> item.name) joinBy ""]]></ee:set-variable>
								</ee:variables>
							</ee:transform>
							<ee:transform doc:name="Transform Message" doc:id="4e7b3a90-9939-4a7d-9c7f-aafc01142600">
								<ee:message>
								</ee:message>
								<ee:variables>
									<ee:set-variable variableName="statsData"><![CDATA[%dw 2.0
output application/json
---
vars.statsData + {
	"appName": if(vars.applicationName == "") "UNKNOWN APPILICATION" else vars.applicationName,
	"storeId": vars.storeId,
	"objectStoreStats": vars.objectStoreStats
}]]></ee:set-variable>
								</ee:variables>
							</ee:transform>
						</foreach>
					</when>
				</choice>
				<ee:transform doc:name="finalStats" doc:id="b2ae0b97-14e1-42ea-aa17-c546a0d560a2" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="finalStats" ><![CDATA[%dw 2.0
output application/json
---
vars.finalStats + {
	"envId": vars.envId,
	"envName": vars.envName,
	"app-objectStore-stats": vars.statsData map ((item, index) -> item) default []
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</foreach>
			<ee:transform doc:name="Data" doc:id="0aed113d-8e6b-420e-b7f2-c7c711c5b6b6" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="Data" ><![CDATA[%dw 2.0
output application/json
---
vars.Data + {
	"orgId": vars.orgId,
	"orgName": vars.orgName,
	"env-objectStore-stats": vars.finalStats
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
	</flow>
	<flow name="business_group_usageFlow" doc:id="936c55ab-1ba9-41e6-8f54-c1305eed0833" >
		<flow-ref doc:name="Get Token Flow Reference" doc:id="6010c438-c342-4195-a89e-60187f13451a" name="api-call-coreservices-login-flow" target="token" targetValue="#[payload.access_token]" />
		<flow-ref doc:name="CoreServices - Get Organizations" doc:id="6ca94e72-0804-4ef5-867a-d0048a088d81" name="api-call-coreservices-organizations-flow" />
		<ee:transform doc:name="Build Organizations including master org" doc:id="2fa9f71b-d331-4536-a6e0-4d653607c2d9" >
			<ee:message >
				<ee:set-payload resource="dw/aggregation/build-orgs-aggregation.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Data" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
				<ee:set-variable variableName="startDate" ><![CDATA[%dw 2.0
output application/json
var adjustedDate = (vars.startDate as Date) - |P1M|
---
adjustedDate as String {format: "yyyy-MM-dd"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="b50e066d-a681-42cd-a482-335aacc848cc" collection="#[payload]">
			<ee:transform doc:name="Set Org Id, Name and Entitlements Vars" doc:id="d0d5cf85-683a-483c-a8f4-6aa2f3e14581">
				<ee:message />
				<ee:variables>
					<ee:set-variable resource="dw/aggregation/set-org-id-var.dwl" variableName="orgId" />
					<ee:set-variable resource="dw/aggregation/set-org-name-var.dwl" variableName="orgName" />
					<ee:set-variable resource="dw/aggregation/set-entitlements-var.dwl" variableName="entitlements" />
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Log - Aggregate metrics" doc:id="e844ea4b-51f8-408e-85fe-38f5cdc7f5c4" message="Aggregating metrics from the OrgId: #[vars.orgId]" />
			<try doc:name="Try" doc:id="a0d2ef63-8550-424d-8914-4209882167bb" >
				<http:request method="GET" doc:name="objectStore_status" doc:id="97b1f556-fabd-4a4a-a6c3-9fcbb93607cb" config-ref="HTTP_Request_objectStore_stats" path='#["/"++"organizations"++"/"++ vars.orgId ++"?"++"startDate"++"="++ vars.startDate ++"T22%3A41%3A38.000Z"++"&amp;"++"endDate"++"="++ vars.endDate ++"T22%3A41%3A38.000Z"++"&amp;"++"period=1month&amp;isMaster=true"]'>
				<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token
}]]]></http:headers>
			</http:request>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e0402edf-cdb1-43aa-9cc1-13ca4986241a" type="ANY">
						<ee:transform doc:name="Transform Message" doc:id="37c93e32-499a-4a2d-9cda-399bd838e07b" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"errorMessage": "unAuthorized"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</on-error-continue>
				</error-handler>
			</try>
			<ee:transform doc:name="Transform Message" doc:id="961ac51f-cc97-4368-bb5c-59081cd7e70b">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="Data"><![CDATA[%dw 2.0
output application/json
---
vars.Data + {
	"orgId": vars.orgId,
	"orgName": vars.orgName,
	"objectStore-stats": if(sizeOf(payload) > 1) payload[1 to -1] else payload
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="5f8787a3-18b9-4441-86fa-d24752aec034" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.Data]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
